<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            h1 {
                text-align: center;
            }
            nav span {
                padding-right: 10px;
            }

        </style>
    </head>
<body>
    <div>
        <nav>
                <span><a href='/newpost' > Add a Blog Entry </a></span>
                <span><a href='/blog'> Main Blog Page </a></span>
        </nav>
    </div>


    {% block content %}
    {% endblock %}

</body>
</html>