<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            /* .navbar {
                display: block;
                display: inline-block;
                margin-right: 10px;
            } */
            h1 {
                text-align: center;
            }
        </style>
    </head>
<body>
    <div class = "navbar">
        <nav>
                <a href='/newpost'display = > Add a Blog Entry </a>
                <span><a href='/blog'> Main Blog Page </a></span>
        </nav>
    </div>


    {% block content %}
    {% endblock %}

</body>
</html>