{% extends "base.html" %}

{% block content %}
<h1>Login to start blogging!</h1>
<form method="post">
    <table>
        <span class = "error">{{user_error}}</span>
        <span class = "error">{{password_error}}</span>
        <tr>
            <td><label for="username">Username</label>
            </td>
            <td><input name ="username" type ="text" value = "{{ username }}"></td>
        </tr>
        <tr>
            <td><label for ="password">Password</label></td>
            <td><input name ="password" type="password"></td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<p>Don't have an account? <a href='/signup'>Create one!</a></p>

{% endblock %}