{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry!</h1>
    <form action = '/blog' method='post'>
        <label>
            Title for your new Blog:
            <br>
            <input type="text" name='title' />
            </br>
        </label>
        <br>
        </br>
        <br>
        <label>
            Your new blog:
            <br>
            <textarea rows = "5" cols = "25" type = "text" name='body'></textarea>
            </br>
        </label>
    </br>
    <br>
        <input type="submit" value='Add Entry' />
        </form>
    </br>
    </form>

    
{% endblock %}