{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry!</h1>
    <form action = '/newpost' method='post'>
        <label>
            Title for your new Blog:
            <input type="text" name='title' />
        </label>
        <br>
        <label>
            Your new blog:
            <textarea rows = "5" cols = "25" type = "text" name='body'></textarea>
        </label>
    </br>
    <br>
        <input type="submit" value='Add Entry' />
        </form>
    </br>
    </form>

    
{% endblock %}