{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry!</h1>
    <form action = '/newpost' method='post'>
        <label>
            Title for your new Blog:
            <br>
            <input type="text" name='title' value = "{{request.form['title']}}" />
            </br>
            <br>
            <p class = "error">{{title_error}}</p>
            </br>
        </label>
        <br>
        </br>
        <br>
        <label>
            Your new blog:
            <br>
            <textarea rows = "5" cols = "25" type = "text" name='body'></textarea>
            </br>
            <br>
            <p class = "error">{{body_error}}</p>
            </br>
        </label>
    </br>
    <br>
        <input type="submit" value='Add Entry' />
        </form>
    </br>
    </form>

    
{% endblock %}